---
layout: archive
title: "Pages by Collection"
permalink: /
author_profile: true
---

{% capture written_label %}'None'{% endcapture %}

{% assign collection_order = "hadcm3_user_notes, hadcm3_technical_notes, hadgem_technical_notes" | split: ", " %}

{% for label in collection_order %}
  {% for collection in site.collections %}
    {% if collection.label == label %}
      {% unless collection.output == false or collection.label == "posts" %}
        <h2 id="{{ collection.label | slugify }}" class="archive__subtitle">{{ collection.label }}</h2>
        {% for post in collection.docs %}
          {% include archive-single.html %}
        {% endfor %}
      {% endunless %}
    {% endif %}
  {% endfor %}
{% endfor %}